@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
	text-align: center;
	margin: 0;
	background-color: rgb(245, 245, 240);
	color: rgb(34, 34, 34);
	text-align: center;
	font-family: 'Spline Sans Mono', 'Varela Round', sans-serif;
}
button {
	cursor: pointer;
}
.book-table {
	max-width: 90em;
	margin: auto;
}

.book-table th {
	border: solid 1px rgb(31, 31, 31);
	padding: 5px;
}
.title {
	text-align: left;
}
.book-table tbody td {
	border: solid 1px rgba(129, 129, 129, 0.479);
}
.book-table thead {
	background-color: rgba(222, 222, 222, 0.403);
}
.book-table tbody tr {
	background-color: rgba(216, 221, 241, 0.246);
}
.book-table tbody tr:nth-child(odd) {
	background-color: rgba(222, 222, 222, 0.297);
}
.new-book {
	margin-top: 30px;
	text-decoration: underline;
}

.book-info {
	display: none;
	width: 40vw;
	min-height: 100vh;
	background-color: rgb(216, 232, 232);
	position: absolute;
	right: 0;
	top: 0;
	padding: 30px;
}

.book-img {
	width: 200px;
}

.rating-container {
	padding: 10px;
}
.rating {
	padding: 5px;
}

.close-modal-btn {
	margin-top: 80px;
	font-size: 1.3em;
}

.bookmark {
	font-size: 35px;
}

.bookmark:hover {
	filter: brightness(1.75);
}

.filter-bookmark {
	font-size: 20px;
}

.input-container > * {
	margin: 2px;
}
.input-container {
	margin-top: 20px;
}
.sort-btn-container > * {
	all: unset;
	cursor: pointer;
}

.sort-btn-container > *:focus {
	outline: rgb(217, 217, 217) auto;
}
.curr-page {
	background: #b1bbda9f;
}
.page-btn {
	background: #ededed;
	border: 1px solid #ccc;
	padding: 3px 8px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 18px;
}
.btn {
	margin-left: 5px;
	font-weight: bold;
	--bs-btn-color: #191919;
	--bs-btn-hover-color: #191919;
	--bs-btn-active-color: #191919;
}
.btn-info {
	--bs-btn-bg: #55aab7;
	--bs-btn-border-color: #55aab7;
	--bs-btn-hover-bg: #55aab7;
	--bs-btn-hover-border-color: #55aab7;
	--bs-btn-active-bg: #55aab7;
	--bs-btn-active-border-color: #55aab7;
}
.btn-danger {
	--bs-btn-bg: #b75555;
	--bs-btn-border-color: #b75555;
	--bs-btn-hover-bg: #b75555;
	--bs-btn-hover-border-color: #b75555;
	--bs-btn-active-bg: #b75555;
	--bs-btn-active-border-color: #b75555;
}
.btn-primary {
	--bs-btn-bg: #4974b6;
	--bs-btn-border-color: #4974b6;
	--bs-btn-hover-bg: #4974b6;
	--bs-btn-hover-border-color: #4974b6;
	--bs-btn-active-bg: #4974b6;
	--bs-btn-active-border-color: #4974b6;
}

.trans-container {
	position: absolute;
	left: 5px;
	top: 10px;
}
.trans-container p {
	margin-bottom: 0;
}

.dark-mode .btn {
	background-color: rgba(202, 202, 202, 0.435);
	display: block;
	margin: auto;
}
.dark-mode {
	position: absolute;
	right: 5px;
	top: 10px;
}
.table-dark th {
	border: solid 1px rgb(214, 214, 214);
}

.dark {
	background-color: #363a3e;
	color: rgb(245, 245, 245);
}
